body {
  display: flex;
  flex-direction: column;
}

.create-course {
  background: linear-gradient(0.33turn, #3f87a6, #ebf8e1, #f69d3c);
  color: #222;
  display: grid;
  place-content: center;
  flex-grow: 1;
}

.create-course h1 {
  margin: 0;
  margin-bottom: 20px;
  font-weight: normal;
}

.create-course > form {
  display: flex;
  flex-direction: column;
  padding: 50px;
  background-color: white;
  border-radius: 10px;
  gap: 15px;
  box-shadow: 0 0 4px 1px rgba(255, 255, 255, 50%);
  width: min(95vw, 400px);
  border: 1px solid #d1d1d1;
}

.create-course > form > div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.create-course > form label {
  display: block;
  font-size: 0.8rem;
  color: #444;
}

.create-course > form input {
  display: block;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 3px 0px rgba(221, 221, 221, 50%);
}

.create-course > form > button {
  margin-top: 20px;
  padding: 20px;
  border: none;
  background-color: #ffffff;
  border-radius: 5px;
  font-weight: 400;
  font-size: 1.2rem;
  cursor: pointer;
  box-shadow: 0 0 3px 0px rgba(221, 221, 221, 50%);
  background-color: hsl(198, 45%, 70%);
  color: inherit;
}

.create-course > form > button:hover {
  filter: brightness(0.95);
}

.create-course > form > button:active {
  filter: brightness(0.9);
}
