<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create Course</title>
  <link rel="stylesheet" href="/static/createcourse.css">
</head>

<body>
  <form action="">
    <h1>Create New Course</h1>
    <div>
      <label for="title">Course Title</label>
      <input type="text" name="title" id="title">
    </div>
    <div>
      <label for="title">Course Credits</label>
      <input type="text" name="credits" id="credits">
    </div>
    <div>
      <label for="title">Course Tutor</label>
      <input type="text" name="tutor" id="tutor">
    </div>

    <button type="submit">Submit</button>
  </form>
</body>

</html>