<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>

</head>

<body style="margin-left:825px; margin-top: 200px; background-color: rgb(130, 136, 107);">
  <div style="box-shadow: 0 0 500px 200px rgb(148, 148, 247); padding: 20px; max-width: 200px; ">
    <h2>Login Form</h2>
    <div style="background-color:rgb(148, 148, 247); padding: 20px;">
      <label for="uname"><b>Username</b></label>
      <br>
      <input type="text" placeholder="Enter Username" name="uname" required>
      <br>
      <br>
      <label for="psw"><b>Password</b></label>
      <br>
      <input type="password" placeholder="Enter Password" name="psw" required>
      <br>
      <br>
      <button type="submit">Login</button>
    </div>
  </div>
</body>

</html>