<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Register</title>
  <link rel="stylesheet" href="static/register.css">
</head>

<body>
  <div>
    <div align="center">
      <div align="center" class="border">
        <div class="header">
          <h1 class="word">Register</h1>
        </div>
        <h2 class="word">
          <form method="post">
            <div class="msg">{{ msg }}</div>
            <input id="m_username" name="username" type="text" class="textbox" placeholder="username">
            <input id="m_password" name="password" type="password" class="textbox" placeholder="password">
            <input id="m_email" name="email" type="text" class="textbox" placeholder="email">
            <input type="submit" class="btn" value="Sign Up">
          </form>
        </h2>

        <p class="bottom">Already have an account? <a class="bottom" href="/login"> Sign In here</a></p>
      </div>
    </div>
  </div>
</body>

</html>