<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Register</title>
</head>

<body>
  <div>
    <div align="center">
      <div align="center" class="m_border">
        <div class="m_header">
          <h1 class="m_word">Register</h1>
        </div>
        <h2 class="m_word">
          <form method="post" target="_blank">
            <div class="m_msg">{{ msg }}</div>
            <input id="m_username" name="username" type="text" class="m_textbox" placeholder="username">
            <input id="m_password" name="password" type="password" class="m_textbox" placeholder="password">
            <input id="m_email" name="email" type="text" class="m_textbox" placeholder="email">
            <input type="submit" class="m_btn" value="Sign Up">
          </form>
        </h2>

        <p class="m_bottom">Already have an account? <a class="m_bottom" rel="noreferrer"> Sign In here</a></p>
      </div>
    </div>
  </div>
</body>

</html>